@font-face {
  font-family: "Berkeley";
  src: url("/assets/BerkeleyMono-Regular.woff");
}

* {
  color-scheme: dark;
}

body {
  color: white;
  overflow-wrap: break-word;
  line-height: 1.5;
  font-size: 18px;
  margin: 0;
  font-family: "Berkeley", monospace;
  background-color: #1a1a1a;
}

h1, h2, h3, h4, p {
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
}

a {
  color: orange;
}

#content {
  padding: 1rem 20px 1.25rem 20px;
}

.wrapper {
  max-width: 750px;
  margin: 0 auto;
}

.article-title {
  font-size: 24px;
}

.article-title > a {
  color: white;
  text-decoration: none;
}

.article-title > a:hover {
  text-decoration: underline;
}

.date-note {
  color: #ACB39A;
  font-size: 1rem;
}

/*==== Header ====*/
header {
  display: flex;
  background-color: #2e2e2e;
  padding: 0 0.8rem;
  user-select: none;
}

header nav {
  margin: auto 0;
}

header nav a {
  color: #faa21c;
  text-decoration: none;
  font-weight: bold;
}

header nav > * {
  display: inline-block;
}

.contacts {
  padding: 0.6rem 0;
  float: right;
  display: flex;
  margin-left: auto;
}

.contacts a {
  padding: 0 0.4rem;
  background-color: transparent;
  width: 1.65rem;
  height: 1.65rem;
}

/* Tweaked subpage links to allow for bold monospaced fonts */
.bald {
  text-shadow: 1px 0 #888888;
  font-weight: bold;
}
/*==== Header ====*/

.animated-link {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}

.animated-link:hover .underline {
  width: 100%;
}

.underline {
  height: 0.12em;
  width: 0%;
  background: orange;
  transition: width 0.2s;
}

@media (max-width: 800px) {
  body {
    font-size: 16px;
  }

  #content {
    padding: 1rem 16px 4.25rem 16px;
  }

  .article-title {
    font-size: 1.3rem;
  }

  .date-note {
    font-size: 0.85rem;
  }

  /*==== Header ====*/
  .contacts a {
    padding: 0 0.3rem;
    width: 1.5rem;
    height: 1.5rem;
  }
  /*==== Header ====*/
}
